/* options.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 400px; /* Smaller width for a more compact options panel */
  background: linear-gradient(135deg, #ffffff 0%, #f4f4f9 100%);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.container:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 28px; /* Smaller header size */
  color: #4a4a4a;
  margin-bottom: 5px;
}

.lead {
  font-size: 16px;
  color: #666;
}

.option {
  margin-bottom: 20px;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}

.radio-group label {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.radio-group input {
  display: none;
}

.radio-group label:hover {
  background-color: #e0e0e0;
}

.radio-group input:checked + label {
  background-color: #C3E0F5;
  color: white;
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: #aaa;
  font-size: 12px;
}

/* Additional styling for color themes */
body.white {
  background-color: #C3E0F5;
  color: #333;
}

body.beige {
  background-color: #204A65;
  color: #333;
}

body.lavender {
  background-color: #e6e6fa;
  color: #333;
}
