/* Shared styles for both options.css and popup.css */
body.white {
  background-color: white;
  color: #333;
}

body.beige {
  background-color: #f5f5dc;
  color: #333;
}

body.lavender {
  background-color: #e6e6fa;
  color: #333;
}

/* Toggle Switch Styling */
.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
