/* popup.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #204A65;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.popup-content {
  width: 320px;
  padding: 15px;
  background: #e2e7fe;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo-container {
  margin-bottom: 15px;
}

.logo {
  width: 50px;
  height: 50px;
}

.app-name {
  font-size: 20px;
  color: #204A65;
  margin-bottom: 10px;
}

#display-container {
  margin-bottom: 20px;
}

.selection-circles {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #C3E0F5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  color: #394751;
}

.circle:hover {
  background-color: #204A65;
  color: #fff;
}

.hidden {
  display: none;
}

#urlInput {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  width: calc(100% - 130px);
  background-color: #f0f8ff;
}

.btn-primary, .btn-secondary {
  background-color: #C3E0F5;
  color: #394751;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-shrink: 0;
  width: 100px;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #204A65;
  color: #fff;
}

#statusSection {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadingIndicator, #resultIcon {
  width: 50px;  /* Adjust width */
  height: 50px; /* Adjust height to keep it smaller and consistent */
  display: none; /* Hide by default */
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.toggle-label {
  margin-left: 10px;
  font-size: 14px;
  color: #666;
}

footer {
  margin-top: 20px;
}

footer p {
  color: #5DB9D2;
  font-size: 12px;
}
